*.log
inputs/
outputs/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
.ipynb_checkpoints
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz